html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
    box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  color: #CA9E3F;
  text-align: center;
  border-bottom: 5px solid #a1a38c;
  padding: 7px;
}
.titlee {
  color: #f3f5f7;
  text-shadow: 2px 2px #201d1d;
  text-align: center;
  width: fit-content;
  background-color: #201d1d59;
  padding: 10px;
  border-radius: 15px;
  margin:  auto;
 font-size: xx-large;
  font-weight: bolder;

}
.item-img {
  outline: 2px solid #CA9E3F;
  outline-offset: 4px;
  width: 90%;
  height: 300px;
  display: block;
  margin: auto;
}
.container-item {
  width: 90%;
  margin: auto;
}
.title-img {
  color: #CA9E3F;
  text-align: right;
  font-weight: bold;
}
.wid {
  height: fit-content;
}
.whats {
  width: 30px;
  height: 30px;
}
.avtar {
  width: 80px;
  height: 60px;
}
.name {
  color: #CA9E3F;
  text-align: right;
}
.required::before {
  content: " *";
  color: red;
}
.photo-grid {
  width: 90%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.hop {
  height: 50px;
  position: relative;
  bottom: 0px;
}
.hhop {
  height: 150px;
  position: static;
  bottom: 0px;
}
.gap {
  gap: 20px;
}
.fixed {
 
  position: fixed;
  z-index: 5;
  top: 400px;
  left:0px;
}
.twa{
  transform: rotate(90deg);
}
.fixed-item {
  border-radius: 25px;
  left: 0;
  transition: all 1s ease-in-out;
}
.fixed-active {
  position: relative;
  left: 170px;
  transition: all 1s ease-in-out;
}
.pointer1 {
  cursor: pointer;
}
.nof {
  padding: 5px 10px;
  border-radius: 50%;
  background: rgb(241, 44, 44);
  color: white;
}
.bg-brand {
  background-color: #a1a38c;
}
.nav-side {
  display: none;
  visibility: hidden;
  transition: all 1s ease-in-out;
}
.nav-side-active {
  display: block;
  visibility: visible;
  visibility: visible;
  transition: all 1s ease-in-out;
}
.ccc {
  left: 50%;
  top: 50%;
  position: absolute;
}
.a11 {
  display: block;
}
.a22 {
  display: none;
}
.inlin {
  display: flex;
  width: 98%;
  margin: auto;
  justify-content: space-between;
  font-size: smaller;
  height: 40px;
}
#coloric {
  color: #a1a38c;
}
.ppp {
  padding: 15px;

  font-weight: bold;
  color: #CA9E3F;
}
.bg-li{
  background-color: rgb(243, 246, 250);
}
.aboo{

background-image: url("../public/bgaa.jpg");
background-attachment: fixed;
background-position: center;

 }
.bgabout{
  background-color: #15151585;
}
.aboo2{

  background-image: url("../public/b3g.jpg");
  background-attachment: fixed;
  background-position: center;
  
   }
  .bgabout2{
    background-color: #f5efefc5;
  }
.tshadow{
  color: #332d1f;

}
.fod{
 background-color: #f3f5f7;
 border-radius: 0 0 15px 15px;
}
.bg-sdf{
  background-color: #CA9E3F;
}
.rev{
  flex-direction: row-reverse;
}
.dfe{
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.rela{
  position: relative;
}
.dfee{
  position: absolute;
  bottom:120px;
  left: 180px;
}
.call{
  display: block;
}
.discall{
  display: none;
}
.bgwa{
  background-color: #28B100;
}
.ite{
  border: 1px solid #CA9E3F;
  box-sizing: border-box;
}
.bs{
  box-sizing: border-box;
}
.jsw{
  justify-content: center;
}
.itcolo{
  color: #CA9E3F;
}
.dfce{
  border-top: 1px solid grey;
}
.bgg1{
background-color: #CA9E3F;
}
.float{
 justify-content: end;
 
}
.fg{
  border-bottom: 2px white solid;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.ddf{
height: 200px;
}
.pointer{
  cursor: pointer;
}
.fill{
  background-image: url("../public/bg101.jpg");
  background-size: cover;
  height: 80vh;
 
}
.rel10{
  position: relative;
}
.ab101{
  position: absolute;
  top: 50%;
  left:20%;
}